################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/youtube.txt
/.vs/*
/Mango.Services.ProductAPI/obj
/Mango.Services.ProductAPI/bin
/Mango.Services.AuthAPI/obj
/Mango.Services.AuthAPI/bin
/Mango.Services.CouponAPI/obj
/Mango.Services.CouponAPI/bin
/Mango.Services.ShoppingCartAPI/obj
/Mango.Services.ShoppingCartAPI/bin
/Mango.Web/obj
/Mango.Web/bin
/BusMessageEmulator/docker-compose.yml
/Mango.MessageBus/bin/Debug/net7.0
/Mango.MessageBus/obj
/Mango.Services.EmailAPI/bin/Debug/net7.0
/Mango.Services.EmailAPI/obj
