################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/youtube.txt
/.vs
/Mango.Service.ProductAPI/obj
/Mango.Services.AuthAPI/obj
/Mango.Services.CouponAPI/obj
/Mango.Services.ShoppingCartAPI/obj
/Mango.Web/obj